body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background: whitesmoke;
  color: #333;
}

header {
  background: #E9A5F1;
  color: black;
  padding: 2rem;
  display: flex;
  height: 50px;
}
header p{
    padding-left: 30%;
    font-size: large;
}
nav {
  background: #C68EFD;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: black;
  margin: 0 1rem;
  text-decoration: none;
  text-size: small;
}
nav a:hover{
    color:#79549e;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background: #fff;
  margin-top: 1rem;
  border-radius: 8px;
  margin-bottom: 30%;
}

.project {
  background: #e8e8e8;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.rc{
  background: #e8e8e8;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  
}
#r a:hover{
  color: red;
}


footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #fff;
  margin-top: 2rem;
}


@media (max-width: 768px) {
  body {
    font-size: 16px;
    
  }

  nav {
  padding: 0.5rem;
 
  text-align: center; 
  display: block;     
}


 
 nav a {
  display: inline-block;
   text-align: center; 
  margin: 0 0.5rem;
   text-size: medium;
}

 header {
  background: #E9A5F1;
  color: black;
  padding: 1.5rem;
  padding-bottom: 5%;
  display: flex;
  height: 90px;
}
header p{
  padding-top: 3%;
    padding-left: 6%;
    font-size: small;
}
  section {
    padding: 1rem;
    margin: 1rem;
  }

  footer {
    font-size: 0.9rem;
    margin-top: 63%;
  }
}
